body
{
    color: #494746;
    line-height: 1.6;
    font-size: 12pt;
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-weight: 400;
    font-style: normal;
    margin:0;
}
p {

}

a {
	text-decoration: none;
	color: #0586a6;
}

time {
	color: rgb(171, 171, 171);
}

.headerStrap {
    width:100%;
    height:40px;
    background-color:#354350;
    margin-bottom: 1.4em;
}

.headerStrap nav
{
    text-transform: uppercase;
    font-size: 0.85em;
    color: rgb(228, 228, 228);
    padding-top:8px;
    padding-left:10px;
}
.headerStrap nav a {
     /*margin: 0 .2em;*/
     font-size: 1em;
     font-weight:400;
     padding:5px;
     color:white;
 }
.content
{
    text-align: left;
    max-width: 700px;
    margin: 0  auto 2em auto;
}

.content ul {
	padding-left: 0;
}

.content ul ul {/* Add a margin for any <ul> inside another <ul> */
    margin-left: 1.5em;
}

.content ol {
    padding-left: 0;
}

.container
{
    margin-bottom: 3em;
    margin-left:1em;
    margin-right:1em;

}

.content .header
{
    text-align: center;
    border-bottom-style: solid;
	border-bottom-color: #FFD5AF;
	border-bottom-width: 0.3em;
}

.content .header .siteTitle
{
    font-size: 3.5em;
    margin-bottom: 0.1em;
    margin-top: -0.25em;
    /*font-family: ArcherPro-Book;*/
    /*font-family: ArcherPro-Bold;*/
    /*font-family: ArcherPro-BoldIta;*/
    /*font-family: ArcherPro-Book;*/
    /*font-family: ArcherPro-Medium;*/
    /*font-family: ArcherPro-Semibold;*/
    /*font-family: Deseret-HTF-LargeSize;*/
    /*font-family: DidotHTF-06Light;*/
    /*font-family: DidotHTF-06Medium;*/
    /*font-family: DidotHTF-16Bold;*/
    /*font-family: Historical-EnglishTextura;*/
    /*font-family: Historical-EnglishTexturaAlt;*/

    /*font-family: HoeflerTitling-HTF-BdRoman;*/
    /*font-family: HoeflerTitling-HTF-LtSC;*/
    /*font-family: Knockout-HTF32-JuniorCruiserwt;*/
    /*font-family: Knockout-HTF52-Cruiserweight;*/
    /*font-family: Mercury-DisplayBold;*/

    /*font-family: Mercury-DisplayBoldSC;*/
    /*font-family: Mercury-DisplayRoman;*/
    /*font-family: Mercury-DisplayRomanSC;*/
    /*font-family: Mercury-NumericG1Bold;*/
    /*font-family: Mercury-NumericG1BoldItalic;*/
    /*font-family: Mercury-NumericG1Italic;*/
    /*font-family: Mercury-NumericG1Roman;*/
    /*font-family: Mercury-NumericG1Semibold;*/
    /*font-family: Mercury-NumericG1SemiboldItalic;*/
    /*font-family: Mercury-NumericG2Bold;*/
    /*font-family: Mercury-NumericG2BoldItalic;*/
    /*font-family: Mercury-NumericG2Italic;*/
    /*font-family: Mercury-NumericG2Roman;*/
    /*font-family: Mercury-NumericG2Semibold;*/
    /*font-family: Mercury-NumericG2SemiboldItalic;*/
    /*font-family: Mercury-NumericG3Bold;*/
    /*font-family: Mercury-NumericG3BoldItalic;*/
    /*font-family: Mercury-NumericG3Italic;*/
    /*font-family: Mercury-NumericG3Roman;*/
    /*font-family: Mercury-NumericG3Semibold;*/
    /*font-family: Mercury-NumericG3SemiboldItalic;*/
    /*font-family: Mercury-NumericG4Bold;*/
    /*font-family: Mercury-NumericG4BoldItalic;*/
    /*font-family: Mercury-NumericG4Italic;*/
    /*font-family: Mercury-NumericG4Roman;*/
    /*font-family: Mercury-NumericG4Semibold;*/
    /*font-family: Mercury-NumericG4SemiboldItalic;*/
    /*font-family: Mercury-TextG1Bold;*/
    /*font-family: Mercury-TextG1BoldItalic;*/
    /*font-family: Mercury-TextG1BoldSC;*/
    /*font-family: Mercury-TextG1Italic;*/
    /*font-family: Mercury-TextG1Roman;*/
    /*font-family: Mercury-TextG1RomanSC;*/
    /*font-family: Mercury-TextG1Semibold;*/
    /*font-family: Mercury-TextG1SemiboldItalic;*/
    /*font-family: Mercury-TextG1SemiboldSC;*/
    /*font-family: Mercury-TextG2Bold;*/
    /*font-family: Mercury-TextG2BoldItalic;*/
    /*font-family: Mercury-TextG2BoldSC;*/
    /*font-family: Mercury-TextG2Italic;*/
    /*font-family: Mercury-TextG2Roman;*/
    /*font-family: Mercury-TextG2RomanSC;*/
    /*font-family: Mercury-TextG2Semibold;*/
    /*font-family: Mercury-TextG2SemiboldItalic;*/
    /*font-family: Mercury-TextG2SemiboldSC;*/
    /*font-family: Mercury-TextG3Bold;*/
    /*font-family: Mercury-TextG3BoldItalic;*/
    /*font-family: Mercury-TextG3BoldSC;*/
    /*font-family: Mercury-TextG3Italic;*/
    /*font-family: Mercury-TextG3Roman;*/
    /*font-family: Mercury-TextG3RomanSC;*/
    /*font-family: Mercury-TextG3Semibold;*/
    /*font-family: Mercury-TextG3SemiboldItalic;*/
    /*font-family: Mercury-TextG3SemiboldSC;*/
    /*font-family: Mercury-TextG4Bold;*/
    /*font-family: Mercury-TextG4BoldItalic;*/
    /*font-family: Mercury-TextG4BoldSC;*/
    /*font-family: Mercury-TextG4Italic;*/
    /*font-family: Mercury-TextG4Roman;*/
    /*font-family: Mercury-TextG4RomanSC;*/
    /*font-family: Mercury-TextG4Semibold;*/
    /*font-family: Mercury-TextG4SemiboldItalic;*/
    /*font-family: Mercury-TextG4SemiboldSC;*/
    /*font-family: Numbers;*/
    /*font-family: Bayside.ttf;*/
    /*font-family: Numbers;*/
    /*font-family: Claimcheck.ttf;*/
    /*font-family: Numbers;*/
    /*font-family: Delancey.ttf;*/
    /*font-family: Numbers;*/
    /*font-family: Depot.ttf;*/
    /*font-family: Numbers;*/
    /*font-family: Deuce.ttf;*/
    /*font-family: Numbers;*/
    /*font-family: Dividend.ttf;*/
    /*font-family: Numbers;*/
    /*font-family: Greenback.ttf;*/
    /*font-family: Numbers;*/
    /*font-family: Indicia.ttf;*/
    /*font-family: Numbers;*/
    /*font-family: Premium.ttf;*/
    /*font-family: Numbers;*/
    /*font-family: Prospekt.ttf;*/
    /*font-family: Numbers;*/
    /*font-family: Redbird.ttf;*/
    /*font-family: Numbers;*/
    /*font-family: Revenue.ttf;*/
    /*font-family: Numbers;*/
    /*font-family: Strasse.ttf;*/
    /*font-family: Numbers;*/
    /*font-family: Trafalgar.ttf;*/
    /*font-family: Numbers;*/
    /*font-family: ValutaOpen.ttf;*/
    /*font-family: Numbers;*/
    /*font-family: ValutaSolid.ttf;*/
    /*font-family: OdeonHTF-CondensedAlternate;*/
    /*font-family: OdeonHTF-CondensedRegular;*/
    /*font-family: RequiemDisplay-HTF-Italic;*/
    /*font-family: RequiemDisplay-HTF-ItalicLigs;*/
    /*font-family: RequiemDisplay-HTF-Roman;*/
    /*font-family: RequiemDisplay-HTF-SmallCaps;*/
    /*font-family: RequiemFine-HTF-Italic;*/
    /*font-family: RequiemFine-HTF-ItalicLigs;*/
    /*font-family: RequiemFine-HTF-Roman;*/
    /*font-family: RequiemFine-HTF-SmallCaps;*/
    /*font-family: RequiemOrnaments-HTF-Display;*/
    /*font-family: RequiemOrnaments-HTF-Text;*/
    /*font-family: RequiemText-HTF-Italic;*/
    /*font-family: RequiemText-HTF-ItalicLigs;*/
    /*font-family: RequiemText-HTF-Roman;*/
    /*font-family: RequiemText-HTF-SmallCaps;*/
    /*font-family: Saracen-HTF-Black;*/
    /*font-family: Schneidler-HTF-Titling;*/
    /*font-family: TodaySH-Medium;*/
    /*font-family: TodaySH-Regular;*/
    /*font-family: TodaySH-Ultra;*/
    /*font-family: Verlag-Black.ttf;
    font-family: Verlag-BlackItalic.ttf;
    font-family: Verlag-Bold.ttf;
    font-family: Verlag-BoldItalic.ttf;
    font-family: Verlag-Book.ttf;
    font-family: Verlag-BookItalic.ttf;
    font-family: Verlag-Light.ttf;
    font-family: Verlag-LightItalic.ttf;
    font-family: Verlag-XLight.ttf;
    font-family: Verlag-XLightItalic.ttf;
    font-family: VerlagCompressed-Black.ttf;
    font-family: VerlagCompressed-BlackItalic.ttf;
    font-family: VerlagCompressed-Bold.ttf;
    font-family: VerlagCompressed-BoldItalic.ttf;
    font-family: VerlagCompressed-Book.ttf;
    font-family: VerlagCompressed-BookItalic.ttf;
    font-family: VerlagCompressed-Light.ttf;
    font-family: VerlagCompressed-LightItalic.ttf;
    font-family: VerlagCompressed-XLight.ttf;
    font-family: VerlagCompressed-XLightItalic.ttf;
    font-family: VerlagCondensed-Black.ttf;
    font-family: VerlagCondensed-BlackItalic.ttf;
    font-family: VerlagCondensed-Bold.ttf;
    font-family: VerlagCondensed-BoldItalic.ttf;
    font-family: VerlagCondensed-Book.ttf;
    font-family: VerlagCondensed-BookItalic.ttf;
    font-family: VerlagCondensed-Light.ttf;
    font-family: VerlagCondensed-LightItalic.ttf;
    font-family: VerlagCondensed-XLight.ttf;
    font-family: VerlagCondensed-XLightItalic.ttf;*/
    /*font-family: WoodtypeAntiqueXXXCond;*/
    /*font-family: WoodtypeGothicExtended;*/
    /*font-family: Ziggurat-HTF-Black-Italic;*/
    /*font-family: Ziggurat-HTF-Black;*/


}

.content .header .siteTitle a
{
    text-decoration: none;
}

.content .header .siteTitle a:visited
{
    color: #95a5a6;

}



@media (max-width: 680) {
    .content {
        max-width: 500px;
    }
}

@media (max-width: 520px) {
    .content {
        max-width: 300px;
    }
    .content .header .siteTitle
    {
        font-size: 2.5em;
        margin-bottom: 0.1em;
        line-height:1.2em;
        margin-top: -0.25em;

    }
    body {
        font-size:.9em;
    }
}


/*@media all and (max-width: 568px) {

    .container {
        margin-left:auto;
        margin-right:auto;
    }

	.content {
	    max-width:90%;
	}

    .content .main {
        font-size: 18px;
    }

    .content .header .siteTitle {
        font-size: 40px;
    }
    .content .header nav {
        font-size: 14px;
    }

   .content .header {
        margin-bottom:1em;
    }

   .content .header nav {
        margin-bottom: 1em;
    }

    .content ol {
        margin-left: 0.25em;
    }

}*/


.content code
{
    font-size: 0.9em;
    background-color: #F0F0F0;
}
.content pre {
    margin-left:40px;
    background-color: #F0F0F0;
    padding:5px;
}
.copyright
{
    font-size: 0.6em;
    text-align: center;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img
{
    max-width: 100%;
}

.header .dot
{
    font-weight: bold;
    margin-left: 0.25em;
}

table.sortable thead {
    cursor: default;
}

blockquote {
    border-left: 4px solid rgb(228, 228, 228);
    margin-left: 1em;
    padding-left: 1em;
}

/* INDEX */

.homepage .day .daybreak
{
    margin-top: 3em;
    border: 0;
    color: rgb(228, 228, 228);
	background-color: rgb(228, 228, 228);
	height: 0.15em;
}

.homepage .postHeader
{
    margin-top: 3em;
    margin-bottom: 2em;
}

.homepage .postHeader .postTitle
{
    font-size: 2.2em;
    font-weight: 500;
    display: block;
    line-height: 1.2;
}

.homepage .postHeader .postDate
{
    font-size: 0.9em;
    display: block;
}

.homepage .day article
{
    margin-bottom: 4em;
}

.homepage .copyright
{
    margin-top: -2em;
}

.homepage article hr
{
    width: 35%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.homepage article th
{
    padding: 0 0.5em 0 0.5em
}

.homepage article td
{
    padding: 0 0.5em 0 0.5em;
}

.homepage .paginationFooter
{
    width: 100%;
    margin-top: 1em;
}

.homepage .paginationFooterPrevious
{
    display: inline;
}

.homepage .paginationFooterNext
{
    display: inline;
    float: right;
}

/* POSTS */

.post .postHeader
{
    text-align: center;
    margin-bottom: 3em;
}

.post .postHeader .postTitle
{
    margin-top: 1em;
    font-size: 2em;
    display: block;
    text-decoration: none;
}

.post .postHeader .postDate
{
    display: block;
    font-size: 0.9em;
}

.post .postHeader .postTitle:visited
{
    color: black;
}

.post hr
{
    width: 50%;
    margin-top: 2em;
    margin-bottom: 2em;
}

@font-face {
font-family: AcropolisHTF-Black;
src: url(/fonts/AcropolisHTF-Black.otf);
}
@font-face {
font-family: AcropolisHTF-BlackItalic;
src: url(/fonts/AcropolisHTF-BlackItalic.otf);
}
@font-face {
font-family: Appellation-HTF;
src: url(/fonts/Appellation-HTF.otf);
}
@font-face {
font-family: ArcherPro-Bold;
src: url(/fonts/ArcherPro-Bold.otf);
}
@font-face {
font-family: ArcherPro-BoldIta;
src: url(/fonts/ArcherPro-BoldIta.otf);
}
@font-face {
font-family: ArcherPro-Book;
src: url(/fonts/ArcherPro-Book.otf);
}
@font-face {
font-family: ArcherPro-BookIta;
src: url(/fonts/ArcherPro-BookIta.otf);
}
@font-face {
font-family: ArcherPro-Hairline;
src: url(/fonts/ArcherPro-Hairline.otf);
}
@font-face {
font-family: ArcherPro-HairlineIta;
src: url(/fonts/ArcherPro-HairlineIta.otf);
}
@font-face {
font-family: ArcherPro-Light;
src: url(/fonts/ArcherPro-Light.otf);
}
@font-face {
font-family: ArcherPro-LightIta;
src: url(/fonts/ArcherPro-LightIta.otf);
}
@font-face {
font-family: ArcherPro-Medium;
src: url(/fonts/ArcherPro-Medium.otf);
}
@font-face {
font-family: ArcherPro-MediumIta;
src: url(/fonts/ArcherPro-MediumIta.otf);
}
@font-face {
font-family: ArcherPro-Semibold;
src: url(/fonts/ArcherPro-Semibold.otf);
}
@font-face {
font-family: ArcherPro-SemiboldIta;
src: url(/fonts/ArcherPro-SemiboldIta.otf);
}
@font-face {
font-family: ArcherPro-Thin;
src: url(/fonts/ArcherPro-Thin.otf);
}
@font-face {
font-family: ArcherPro-ThinIta;
src: url(/fonts/ArcherPro-ThinIta.otf);
}
@font-face {
font-family: ArcherPro-XLight;
src: url(/fonts/ArcherPro-XLight.otf);
}
@font-face {
font-family: ArcherPro-XLightIta;
src: url(/fonts/ArcherPro-XLightIta.otf);
}
@font-face {
font-family: Champion-HTF-Bantamweight;
src: url(/fonts/Champion-HTF-Bantamweight.otf);
}
@font-face {
font-family: Champion-HTF-Featherweight;
src: url(/fonts/Champion-HTF-Featherweight.otf);
}
@font-face {
font-family: Champion-HTF-Flyweight;
src: url(/fonts/Champion-HTF-Flyweight.otf);
}
@font-face {
font-family: Champion-HTF-Heavyweight;
src: url(/fonts/Champion-HTF-Heavyweight.otf);
}
@font-face {
font-family: Champion-HTF-Lightweight;
src: url(/fonts/Champion-HTF-Lightweight.otf);
}
@font-face {
font-family: Champion-HTF-Middleweight;
src: url(/fonts/Champion-HTF-Middleweight.otf);
}
@font-face {
font-family: Champion-HTF-Welterweight;
src: url(/fonts/Champion-HTF-Welterweight.otf);
}
@font-face {
font-family: ChryslerHTF-Compressed;
src: url(/fonts/ChryslerHTF-Compressed.otf);
}
@font-face {
font-family: ChryslerHTF-Condensed;
src: url(/fonts/ChryslerHTF-Condensed.otf);
}
@font-face {
font-family: ChryslerHTF-UltraCompressed;
src: url(/fonts/ChryslerHTF-UltraCompressed.otf);
}
@font-face {
font-family: Deseret-HTF-LargeSize;
src: url(/fonts/Deseret-HTF-LargeSize.otf);
}
@font-face {
font-family: Deseret-HTF-SmallSize;
src: url(/fonts/Deseret-HTF-SmallSize.otf);
}
@font-face {
font-family: DidotHTF-06Bold;
src: url(/fonts/DidotHTF-06Bold.otf);
}
@font-face {
font-family: DidotHTF-06BoldItalic;
src: url(/fonts/DidotHTF-06BoldItalic.otf);
}
@font-face {
font-family: DidotHTF-06Light;
src: url(/fonts/DidotHTF-06Light.otf);
}
@font-face {
font-family: DidotHTF-06LightItalic;
src: url(/fonts/DidotHTF-06LightItalic.otf);
}
@font-face {
font-family: DidotHTF-06Medium;
src: url(/fonts/DidotHTF-06Medium.otf);
}
@font-face {
font-family: DidotHTF-06MediumItalic;
src: url(/fonts/DidotHTF-06MediumItalic.otf);
}
@font-face {
font-family: DidotHTF-11Bold;
src: url(/fonts/DidotHTF-11Bold.otf);
}
@font-face {
font-family: DidotHTF-11BoldItalic;
src: url(/fonts/DidotHTF-11BoldItalic.otf);
}
@font-face {
font-family: DidotHTF-11Light;
src: url(/fonts/DidotHTF-11Light.otf);
}
@font-face {
font-family: DidotHTF-11LightItalic;
src: url(/fonts/DidotHTF-11LightItalic.otf);
}
@font-face {
font-family: DidotHTF-11Medium;
src: url(/fonts/DidotHTF-11Medium.otf);
}
@font-face {
font-family: DidotHTF-11MediumItalic;
src: url(/fonts/DidotHTF-11MediumItalic.otf);
}
@font-face {
font-family: DidotHTF-16Bold;
src: url(/fonts/DidotHTF-16Bold.otf);
}
@font-face {
font-family: DidotHTF-16BoldItalic;
src: url(/fonts/DidotHTF-16BoldItalic.otf);
}
@font-face {
font-family: DidotHTF-16Light;
src: url(/fonts/DidotHTF-16Light.otf);
}
@font-face {
font-family: DidotHTF-16LightItalic;
src: url(/fonts/DidotHTF-16LightItalic.otf);
}
@font-face {
font-family: DidotHTF-16Medium;
src: url(/fonts/DidotHTF-16Medium.otf);
}
@font-face {
font-family: DidotHTF-16MediumItalic;
src: url(/fonts/DidotHTF-16MediumItalic.otf);
}
@font-face {
font-family: DidotHTF-24Bold;
src: url(/fonts/DidotHTF-24Bold.otf);
}
@font-face {
font-family: DidotHTF-24BoldItalic;
src: url(/fonts/DidotHTF-24BoldItalic.otf);
}
@font-face {
font-family: DidotHTF-24Light;
src: url(/fonts/DidotHTF-24Light.otf);
}
@font-face {
font-family: DidotHTF-24LightItalic;
src: url(/fonts/DidotHTF-24LightItalic.otf);
}
@font-face {
font-family: DidotHTF-24Medium;
src: url(/fonts/DidotHTF-24Medium.otf);
}
@font-face {
font-family: DidotHTF-24MediumItalic;
src: url(/fonts/DidotHTF-24MediumItalic.otf);
}
@font-face {
font-family: DidotHTF-42Bold;
src: url(/fonts/DidotHTF-42Bold.otf);
}
@font-face {
font-family: DidotHTF-42BoldItalic;
src: url(/fonts/DidotHTF-42BoldItalic.otf);
}
@font-face {
font-family: DidotHTF-42Light;
src: url(/fonts/DidotHTF-42Light.otf);
}
@font-face {
font-family: DidotHTF-42LightItalic;
src: url(/fonts/DidotHTF-42LightItalic.otf);
}
@font-face {
font-family: DidotHTF-42Medium;
src: url(/fonts/DidotHTF-42Medium.otf);
}
@font-face {
font-family: DidotHTF-42MediumItalic;
src: url(/fonts/DidotHTF-42MediumItalic.otf);
}
@font-face {
font-family: DidotHTF-64Bold;
src: url(/fonts/DidotHTF-64Bold.otf);
}
@font-face {
font-family: DidotHTF-64BoldItalic;
src: url(/fonts/DidotHTF-64BoldItalic.otf);
}
@font-face {
font-family: DidotHTF-64Light;
src: url(/fonts/DidotHTF-64Light.otf);
}
@font-face {
font-family: DidotHTF-64LightItalic;
src: url(/fonts/DidotHTF-64LightItalic.otf);
}
@font-face {
font-family: DidotHTF-64Medium;
src: url(/fonts/DidotHTF-64Medium.otf);
}
@font-face {
font-family: DidotHTF-64MediumItalic;
src: url(/fonts/DidotHTF-64MediumItalic.otf);
}
@font-face {
font-family: DidotHTF-96Bold;
src: url(/fonts/DidotHTF-96Bold.otf);
}
@font-face {
font-family: DidotHTF-96BoldItalic;
src: url(/fonts/DidotHTF-96BoldItalic.otf);
}
@font-face {
font-family: DidotHTF-96Light;
src: url(/fonts/DidotHTF-96Light.otf);
}
@font-face {
font-family: DidotHTF-96LightItalic;
src: url(/fonts/DidotHTF-96LightItalic.otf);
}
@font-face {
font-family: DidotHTF-96Medium;
src: url(/fonts/DidotHTF-96Medium.otf);
}
@font-face {
font-family: DidotHTF-96MediumItalic;
src: url(/fonts/DidotHTF-96MediumItalic.otf);
}
@font-face {
font-family: Ehmcke-HTF;
src: url(/fonts/Ehmcke-HTF.otf);
}
@font-face {
font-family: Fetish-HTF-No338;
src: url(/fonts/Fetish-HTF-No338.otf);
}
@font-face {
font-family: Gestalt-LinearBold;
src: url(/fonts/Gestalt-LinearBold.otf);
}
@font-face {
font-family: Gestalt-LinearLight;
src: url(/fonts/Gestalt-LinearLight.otf);
}
@font-face {
font-family: Gestalt-LinearMedium;
src: url(/fonts/Gestalt-LinearMedium.otf);
}
@font-face {
font-family: Gestalt-LinearOutline;
src: url(/fonts/Gestalt-LinearOutline.otf);
}
@font-face {
font-family: GothamHTF-Black;
src: url(/fonts/GothamHTF-Black.otf);
}
@font-face {
font-family: GothamHTF-BlackItalic;
src: url(/fonts/GothamHTF-BlackItalic.otf);
}
@font-face {
font-family: GothamHTF-Bold;
src: url(/fonts/GothamHTF-Bold.otf);
}
@font-face {
font-family: GothamHTF-BoldCondensed;
src: url(/fonts/GothamHTF-BoldCondensed.otf);
}
@font-face {
font-family: GothamHTF-BoldItalic;
src: url(/fonts/GothamHTF-BoldItalic.otf);
}
@font-face {
font-family: GothamHTF-Book;
src: url(/fonts/GothamHTF-Book.otf);
}
@font-face {
font-family: GothamHTF-BookCondensed;
src: url(/fonts/GothamHTF-BookCondensed.otf);
}
@font-face {
font-family: GothamHTF-BookItalic;
src: url(/fonts/GothamHTF-BookItalic.otf);
}
@font-face {
font-family: GothamHTF-Light;
src: url(/fonts/GothamHTF-Light.otf);
}
@font-face {
font-family: GothamHTF-LightCondensed;
src: url(/fonts/GothamHTF-LightCondensed.otf);
}
@font-face {
font-family: GothamHTF-LightItalic;
src: url(/fonts/GothamHTF-LightItalic.otf);
}
@font-face {
font-family: GothamHTF-Medium;
src: url(/fonts/GothamHTF-Medium.otf);
}
@font-face {
font-family: GothamHTF-MediumCondensed;
src: url(/fonts/GothamHTF-MediumCondensed.otf);
}
@font-face {
font-family: GothamHTF-Thin;
src: url(/fonts/GothamHTF-Thin.otf);
}
@font-face {
font-family: GothamHTF-ThinItalic;
src: url(/fonts/GothamHTF-ThinItalic.otf);
}
@font-face {
font-family: GothamHTF-Ultra;
src: url(/fonts/GothamHTF-Ultra.otf);
}
@font-face {
font-family: GothamHTF-UltraItalic;
src: url(/fonts/GothamHTF-UltraItalic.otf);
}
@font-face {
font-family: GothamHTF-XLight;
src: url(/fonts/GothamHTF-XLight.otf);
}
@font-face {
font-family: GothamHTF-XLightItalic;
src: url(/fonts/GothamHTF-XLightItalic.otf);
}
@font-face {
font-family: HandCancelled-HTF-One;
src: url(/fonts/HandCancelled-HTF-One.otf);
}
@font-face {
font-family: HandCancelled-HTF-Two;
src: url(/fonts/HandCancelled-HTF-Two.otf);
}
@font-face {
font-family: Historical-EnglishTextura;
src: url(/fonts/Historical-EnglishTextura.otf);
}
@font-face {
font-family: Historical-EnglishTexturaAlt;
src: url(/fonts/Historical-EnglishTexturaAlt.otf);
}
@font-face {
font-family: Historical-FellTypeItalic;
src: url(/fonts/Historical-FellTypeItalic.otf);
}
@font-face {
font-family: Historical-FellTypeRoman;
src: url(/fonts/Historical-FellTypeRoman.otf);
}
@font-face {
font-family: Historical-FellTypeRomanSC;
src: url(/fonts/Historical-FellTypeRomanSC.otf);
}
@font-face {
font-family: Historical-GreatPrimerUncials;
src: url(/fonts/Historical-GreatPrimerUncials.otf);
}
@font-face {
font-family: Historical-StAugustinAlternate;
src: url(/fonts/Historical-StAugustinAlternate.otf);
}
@font-face {
font-family: Historical-StAugustinCivilite;
src: url(/fonts/Historical-StAugustinCivilite.otf);
}
@font-face {
font-family: HoeflerText-Black;
src: url(/fonts/HoeflerText-Black.otf);
}
@font-face {
font-family: HoeflerText-BlackAlt;
src: url(/fonts/HoeflerText-BlackAlt.otf);
}
@font-face {
font-family: HoeflerText-BlackItalic;
src: url(/fonts/HoeflerText-BlackItalic.otf);
}
@font-face {
font-family: HoeflerText-BlackItalicAlt;
src: url(/fonts/HoeflerText-BlackItalicAlt.otf);
}
@font-face {
font-family: HoeflerText-BlackItalicSC;
src: url(/fonts/HoeflerText-BlackItalicSC.otf);
}
@font-face {
font-family: HoeflerText-BlackItalicSwSC;
src: url(/fonts/HoeflerText-BlackItalicSwSC.otf);
}
@font-face {
font-family: HoeflerText-BlackItalicSwash;
src: url(/fonts/HoeflerText-BlackItalicSwash.otf);
}
@font-face {
font-family: HoeflerText-BlackSC;
src: url(/fonts/HoeflerText-BlackSC.otf);
}
@font-face {
font-family: HoeflerText-Bold;
src: url(/fonts/HoeflerText-Bold.otf);
}
@font-face {
font-family: HoeflerText-BoldAlt;
src: url(/fonts/HoeflerText-BoldAlt.otf);
}
@font-face {
font-family: HoeflerText-BoldItalic;
src: url(/fonts/HoeflerText-BoldItalic.otf);
}
@font-face {
font-family: HoeflerText-BoldItalicAlt;
src: url(/fonts/HoeflerText-BoldItalicAlt.otf);
}
@font-face {
font-family: HoeflerText-BoldItalicSC;
src: url(/fonts/HoeflerText-BoldItalicSC.otf);
}
@font-face {
font-family: HoeflerText-BoldItalicSwSC;
src: url(/fonts/HoeflerText-BoldItalicSwSC.otf);
}
@font-face {
font-family: HoeflerText-BoldItalicSwash;
src: url(/fonts/HoeflerText-BoldItalicSwash.otf);
}
@font-face {
font-family: HoeflerText-BoldSC;
src: url(/fonts/HoeflerText-BoldSC.otf);
}
@font-face {
font-family: HoeflerText-Engraved;
src: url(/fonts/HoeflerText-Engraved.otf);
}
@font-face {
font-family: HoeflerText-EngravedTwo;
src: url(/fonts/HoeflerText-EngravedTwo.otf);
}
@font-face {
font-family: HoeflerText-Fleurons;
src: url(/fonts/HoeflerText-Fleurons.otf);
}
@font-face {
font-family: HoeflerText-RegularItalic;
src: url(/fonts/HoeflerText-RegularItalic.otf);
}
@font-face {
font-family: HoeflerText-RegularItalicAlt;
src: url(/fonts/HoeflerText-RegularItalicAlt.otf);
}
@font-face {
font-family: HoeflerText-RegularItalicSC;
src: url(/fonts/HoeflerText-RegularItalicSC.otf);
}
@font-face {
font-family: HoeflerText-RegularItalicSwSC;
src: url(/fonts/HoeflerText-RegularItalicSwSC.otf);
}
@font-face {
font-family: HoeflerText-RegularItalicSwash;
src: url(/fonts/HoeflerText-RegularItalicSwash.otf);
}
@font-face {
font-family: HoeflerText-Roman;
src: url(/fonts/HoeflerText-Roman.otf);
}
@font-face {
font-family: HoeflerText-RomanAlt;
src: url(/fonts/HoeflerText-RomanAlt.otf);
}
@font-face {
font-family: HoeflerText-RomanSC;
src: url(/fonts/HoeflerText-RomanSC.otf);
}
@font-face {
font-family: HoeflerTitling-HTF-BdItalic;
src: url(/fonts/HoeflerTitling-HTF-BdItalic.otf);
}
@font-face {
font-family: HoeflerTitling-HTF-BdRoman;
src: url(/fonts/HoeflerTitling-HTF-BdRoman.otf);
}
@font-face {
font-family: HoeflerTitling-HTF-BdSC;
src: url(/fonts/HoeflerTitling-HTF-BdSC.otf);
}
@font-face {
font-family: HoeflerTitling-HTF-BdSwash;
src: url(/fonts/HoeflerTitling-HTF-BdSwash.otf);
}
@font-face {
font-family: HoeflerTitling-HTF-LtItalic;
src: url(/fonts/HoeflerTitling-HTF-LtItalic.otf);
}
@font-face {
font-family: HoeflerTitling-HTF-LtRoman;
src: url(/fonts/HoeflerTitling-HTF-LtRoman.otf);
}
@font-face {
font-family: HoeflerTitling-HTF-LtSC;
src: url(/fonts/HoeflerTitling-HTF-LtSC.otf);
}
@font-face {
font-family: HoeflerTitling-HTF-LtSwash;
src: url(/fonts/HoeflerTitling-HTF-LtSwash.otf);
}
@font-face {
font-family: HoeflerTitling-HTF-SmItalic;
src: url(/fonts/HoeflerTitling-HTF-SmItalic.otf);
}
@font-face {
font-family: HoeflerTitling-HTF-SmRoman;
src: url(/fonts/HoeflerTitling-HTF-SmRoman.otf);
}
@font-face {
font-family: HoeflerTitling-HTF-SmSC;
src: url(/fonts/HoeflerTitling-HTF-SmSC.otf);
}
@font-face {
font-family: HoeflerTitling-HTF-SmSwash;
src: url(/fonts/HoeflerTitling-HTF-SmSwash.otf);
}
@font-face {
font-family: Knockout-HTF26-JuniorFlyweight;
src: url(/fonts/Knockout-HTF26-JuniorFlyweight.otf);
}
@font-face {
font-family: Knockout-HTF27-JuniorBantamwt;
src: url(/fonts/Knockout-HTF27-JuniorBantamwt.otf);
}
@font-face {
font-family: Knockout-HTF28-JuniorFeatherwt;
src: url(/fonts/Knockout-HTF28-JuniorFeatherwt.otf);
}
@font-face {
font-family: Knockout-HTF29-JuniorLiteweight;
src: url(/fonts/Knockout-HTF29-JuniorLiteweight.otf);
}
@font-face {
font-family: Knockout-HTF30-JuniorWelterwt;
src: url(/fonts/Knockout-HTF30-JuniorWelterwt.otf);
}
@font-face {
font-family: Knockout-HTF31-JuniorMiddlewt;
src: url(/fonts/Knockout-HTF31-JuniorMiddlewt.otf);
}
@font-face {
font-family: Knockout-HTF32-JuniorCruiserwt;
src: url(/fonts/Knockout-HTF32-JuniorCruiserwt.otf);
}
@font-face {
font-family: Knockout-HTF33-JuniorHeviwt;
src: url(/fonts/Knockout-HTF33-JuniorHeviwt.otf);
}
@font-face {
font-family: Knockout-HTF34-JuniorSumo;
src: url(/fonts/Knockout-HTF34-JuniorSumo.otf);
}
@font-face {
font-family: Knockout-HTF46-Flyweight;
src: url(/fonts/Knockout-HTF46-Flyweight.otf);
}
@font-face {
font-family: Knockout-HTF47-Bantamweight;
src: url(/fonts/Knockout-HTF47-Bantamweight.otf);
}
@font-face {
font-family: Knockout-HTF48-Featherweight;
src: url(/fonts/Knockout-HTF48-Featherweight.otf);
}
@font-face {
font-family: Knockout-HTF49-Liteweight;
src: url(/fonts/Knockout-HTF49-Liteweight.otf);
}
@font-face {
font-family: Knockout-HTF50-Welterweight;
src: url(/fonts/Knockout-HTF50-Welterweight.otf);
}
@font-face {
font-family: Knockout-HTF51-Middleweight;
src: url(/fonts/Knockout-HTF51-Middleweight.otf);
}
@font-face {
font-family: Knockout-HTF52-Cruiserweight;
src: url(/fonts/Knockout-HTF52-Cruiserweight.otf);
}
@font-face {
font-family: Knockout-HTF53-Heviweight;
src: url(/fonts/Knockout-HTF53-Heviweight.otf);
}
@font-face {
font-family: Knockout-HTF54-Sumo;
src: url(/fonts/Knockout-HTF54-Sumo.otf);
}
@font-face {
font-family: Knockout-HTF66-FullFlyweight;
src: url(/fonts/Knockout-HTF66-FullFlyweight.otf);
}
@font-face {
font-family: Knockout-HTF67-FullBantamwt;
src: url(/fonts/Knockout-HTF67-FullBantamwt.otf);
}
@font-face {
font-family: Knockout-HTF68-FullFeatherwt;
src: url(/fonts/Knockout-HTF68-FullFeatherwt.otf);
}
@font-face {
font-family: Knockout-HTF69-FullLiteweight;
src: url(/fonts/Knockout-HTF69-FullLiteweight.otf);
}
@font-face {
font-family: Knockout-HTF70-FullWelterwt;
src: url(/fonts/Knockout-HTF70-FullWelterwt.otf);
}
@font-face {
font-family: Knockout-HTF71-FullMiddlewt;
src: url(/fonts/Knockout-HTF71-FullMiddlewt.otf);
}
@font-face {
font-family: Knockout-HTF72-FullCruiserwt;
src: url(/fonts/Knockout-HTF72-FullCruiserwt.otf);
}
@font-face {
font-family: Knockout-HTF73-FullHeviweight;
src: url(/fonts/Knockout-HTF73-FullHeviweight.otf);
}
@font-face {
font-family: Knockout-HTF74-FullSumo;
src: url(/fonts/Knockout-HTF74-FullSumo.otf);
}
@font-face {
font-family: Knockout-HTF90-UltmtWelterwt;
src: url(/fonts/Knockout-HTF90-UltmtWelterwt.otf);
}
@font-face {
font-family: Knockout-HTF91-UltmtMiddlewt;
src: url(/fonts/Knockout-HTF91-UltmtMiddlewt.otf);
}
@font-face {
font-family: Knockout-HTF92-UltmtCruiserwt;
src: url(/fonts/Knockout-HTF92-UltmtCruiserwt.otf);
}
@font-face {
font-family: Knockout-HTF93-UltmtHeviwt;
src: url(/fonts/Knockout-HTF93-UltmtHeviwt.otf);
}
@font-face {
font-family: Knockout-HTF94-UltmtSumo;
src: url(/fonts/Knockout-HTF94-UltmtSumo.otf);
}
@font-face {
font-family: Leviathan-HTF-Black-Italic;
src: url(/fonts/Leviathan-HTF-Black-Italic.otf);
}
@font-face {
font-family: Leviathan-HTF-Black;
src: url(/fonts/Leviathan-HTF-Black.otf);
}
@font-face {
font-family: Mercury-DisplayBold;
src: url(/fonts/Mercury-DisplayBold.otf);
}
@font-face {
font-family: Mercury-DisplayBoldItalic;
src: url(/fonts/Mercury-DisplayBoldItalic.otf);
}
@font-face {
font-family: Mercury-DisplayBoldSC;
src: url(/fonts/Mercury-DisplayBoldSC.otf);
}
@font-face {
font-family: Mercury-DisplayItalic;
src: url(/fonts/Mercury-DisplayItalic.otf);
}
@font-face {
font-family: Mercury-DisplayRoman;
src: url(/fonts/Mercury-DisplayRoman.otf);
}
@font-face {
font-family: Mercury-DisplayRomanSC;
src: url(/fonts/Mercury-DisplayRomanSC.otf);
}
@font-face {
font-family: Mercury-DisplaySemibold;
src: url(/fonts/Mercury-DisplaySemibold.otf);
}
@font-face {
font-family: Mercury-DisplaySemiboldItalic;
src: url(/fonts/Mercury-DisplaySemiboldItalic.otf);
}
@font-face {
font-family: Mercury-DisplaySemiboldSC;
src: url(/fonts/Mercury-DisplaySemiboldSC.otf);
}
@font-face {
font-family: Mercury-NumericG1Bold;
src: url(/fonts/Mercury-NumericG1Bold.otf);
}
@font-face {
font-family: Mercury-NumericG1BoldItalic;
src: url(/fonts/Mercury-NumericG1BoldItalic.otf);
}
@font-face {
font-family: Mercury-NumericG1Italic;
src: url(/fonts/Mercury-NumericG1Italic.otf);
}
@font-face {
font-family: Mercury-NumericG1Roman;
src: url(/fonts/Mercury-NumericG1Roman.otf);
}
@font-face {
font-family: Mercury-NumericG1Semibold;
src: url(/fonts/Mercury-NumericG1Semibold.otf);
}
@font-face {
font-family: Mercury-NumericG1SemiboldItalic;
src: url(/fonts/Mercury-NumericG1SemiboldItalic.otf);
}
@font-face {
font-family: Mercury-NumericG2Bold;
src: url(/fonts/Mercury-NumericG2Bold.otf);
}
@font-face {
font-family: Mercury-NumericG2BoldItalic;
src: url(/fonts/Mercury-NumericG2BoldItalic.otf);
}
@font-face {
font-family: Mercury-NumericG2Italic;
src: url(/fonts/Mercury-NumericG2Italic.otf);
}
@font-face {
font-family: Mercury-NumericG2Roman;
src: url(/fonts/Mercury-NumericG2Roman.otf);
}
@font-face {
font-family: Mercury-NumericG2Semibold;
src: url(/fonts/Mercury-NumericG2Semibold.otf);
}
@font-face {
font-family: Mercury-NumericG2SemiboldItalic;
src: url(/fonts/Mercury-NumericG2SemiboldItalic.otf);
}
@font-face {
font-family: Mercury-NumericG3Bold;
src: url(/fonts/Mercury-NumericG3Bold.otf);
}
@font-face {
font-family: Mercury-NumericG3BoldItalic;
src: url(/fonts/Mercury-NumericG3BoldItalic.otf);
}
@font-face {
font-family: Mercury-NumericG3Italic;
src: url(/fonts/Mercury-NumericG3Italic.otf);
}
@font-face {
font-family: Mercury-NumericG3Roman;
src: url(/fonts/Mercury-NumericG3Roman.otf);
}
@font-face {
font-family: Mercury-NumericG3Semibold;
src: url(/fonts/Mercury-NumericG3Semibold.otf);
}
@font-face {
font-family: Mercury-NumericG3SemiboldItalic;
src: url(/fonts/Mercury-NumericG3SemiboldItalic.otf);
}
@font-face {
font-family: Mercury-NumericG4Bold;
src: url(/fonts/Mercury-NumericG4Bold.otf);
}
@font-face {
font-family: Mercury-NumericG4BoldItalic;
src: url(/fonts/Mercury-NumericG4BoldItalic.otf);
}
@font-face {
font-family: Mercury-NumericG4Italic;
src: url(/fonts/Mercury-NumericG4Italic.otf);
}
@font-face {
font-family: Mercury-NumericG4Roman;
src: url(/fonts/Mercury-NumericG4Roman.otf);
}
@font-face {
font-family: Mercury-NumericG4Semibold;
src: url(/fonts/Mercury-NumericG4Semibold.otf);
}
@font-face {
font-family: Mercury-NumericG4SemiboldItalic;
src: url(/fonts/Mercury-NumericG4SemiboldItalic.otf);
}
@font-face {
font-family: Mercury-TextG1Bold;
src: url(/fonts/Mercury-TextG1Bold.otf);
}
@font-face {
font-family: Mercury-TextG1BoldItalic;
src: url(/fonts/Mercury-TextG1BoldItalic.otf);
}
@font-face {
font-family: Mercury-TextG1BoldSC;
src: url(/fonts/Mercury-TextG1BoldSC.otf);
}
@font-face {
font-family: Mercury-TextG1Italic;
src: url(/fonts/Mercury-TextG1Italic.otf);
}
@font-face {
font-family: Mercury-TextG1Roman;
src: url(/fonts/Mercury-TextG1Roman.otf);
}
@font-face {
font-family: Mercury-TextG1RomanSC;
src: url(/fonts/Mercury-TextG1RomanSC.otf);
}
@font-face {
font-family: Mercury-TextG1Semibold;
src: url(/fonts/Mercury-TextG1Semibold.otf);
}
@font-face {
font-family: Mercury-TextG1SemiboldItalic;
src: url(/fonts/Mercury-TextG1SemiboldItalic.otf);
}
@font-face {
font-family: Mercury-TextG1SemiboldSC;
src: url(/fonts/Mercury-TextG1SemiboldSC.otf);
}
@font-face {
font-family: Mercury-TextG2Bold;
src: url(/fonts/Mercury-TextG2Bold.otf);
}
@font-face {
font-family: Mercury-TextG2BoldItalic;
src: url(/fonts/Mercury-TextG2BoldItalic.otf);
}
@font-face {
font-family: Mercury-TextG2BoldSC;
src: url(/fonts/Mercury-TextG2BoldSC.otf);
}
@font-face {
font-family: Mercury-TextG2Italic;
src: url(/fonts/Mercury-TextG2Italic.otf);
}
@font-face {
font-family: Mercury-TextG2Roman;
src: url(/fonts/Mercury-TextG2Roman.otf);
}
@font-face {
font-family: Mercury-TextG2RomanSC;
src: url(/fonts/Mercury-TextG2RomanSC.otf);
}
@font-face {
font-family: Mercury-TextG2Semibold;
src: url(/fonts/Mercury-TextG2Semibold.otf);
}
@font-face {
font-family: Mercury-TextG2SemiboldItalic;
src: url(/fonts/Mercury-TextG2SemiboldItalic.otf);
}
@font-face {
font-family: Mercury-TextG2SemiboldSC;
src: url(/fonts/Mercury-TextG2SemiboldSC.otf);
}
@font-face {
font-family: Mercury-TextG3Bold;
src: url(/fonts/Mercury-TextG3Bold.otf);
}
@font-face {
font-family: Mercury-TextG3BoldItalic;
src: url(/fonts/Mercury-TextG3BoldItalic.otf);
}
@font-face {
font-family: Mercury-TextG3BoldSC;
src: url(/fonts/Mercury-TextG3BoldSC.otf);
}
@font-face {
font-family: Mercury-TextG3Italic;
src: url(/fonts/Mercury-TextG3Italic.otf);
}
@font-face {
font-family: Mercury-TextG3Roman;
src: url(/fonts/Mercury-TextG3Roman.otf);
}
@font-face {
font-family: Mercury-TextG3RomanSC;
src: url(/fonts/Mercury-TextG3RomanSC.otf);
}
@font-face {
font-family: Mercury-TextG3Semibold;
src: url(/fonts/Mercury-TextG3Semibold.otf);
}
@font-face {
font-family: Mercury-TextG3SemiboldItalic;
src: url(/fonts/Mercury-TextG3SemiboldItalic.otf);
}
@font-face {
font-family: Mercury-TextG3SemiboldSC;
src: url(/fonts/Mercury-TextG3SemiboldSC.otf);
}
@font-face {
font-family: Mercury-TextG4Bold;
src: url(/fonts/Mercury-TextG4Bold.otf);
}
@font-face {
font-family: Mercury-TextG4BoldItalic;
src: url(/fonts/Mercury-TextG4BoldItalic.otf);
}
@font-face {
font-family: Mercury-TextG4BoldSC;
src: url(/fonts/Mercury-TextG4BoldSC.otf);
}
@font-face {
font-family: Mercury-TextG4Italic;
src: url(/fonts/Mercury-TextG4Italic.otf);
}
@font-face {
font-family: Mercury-TextG4Roman;
src: url(/fonts/Mercury-TextG4Roman.otf);
}
@font-face {
font-family: Mercury-TextG4RomanSC;
src: url(/fonts/Mercury-TextG4RomanSC.otf);
}
@font-face {
font-family: Mercury-TextG4Semibold;
src: url(/fonts/Mercury-TextG4Semibold.otf);
}
@font-face {
font-family: Mercury-TextG4SemiboldItalic;
src: url(/fonts/Mercury-TextG4SemiboldItalic.otf);
}
@font-face {
font-family: Mercury-TextG4SemiboldSC;
src: url(/fonts/Mercury-TextG4SemiboldSC.otf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: Bayside.ttf;
src: url(/fonts/Bayside.ttf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: Claimcheck.ttf;
src: url(/fonts/Claimcheck.ttf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: Delancey.ttf;
src: url(/fonts/Delancey.ttf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: Depot.ttf;
src: url(/fonts/Depot.ttf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: Deuce.ttf;
src: url(/fonts/Deuce.ttf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: Dividend.ttf;
src: url(/fonts/Dividend.ttf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: Greenback.ttf;
src: url(/fonts/Greenback.ttf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: Indicia.ttf;
src: url(/fonts/Indicia.ttf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: Premium.ttf;
src: url(/fonts/Premium.ttf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: Prospekt.ttf;
src: url(/fonts/Prospekt.ttf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: Redbird.ttf;
src: url(/fonts/Redbird.ttf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: Revenue.ttf;
src: url(/fonts/Revenue.ttf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: Strasse.ttf;
src: url(/fonts/Strasse.ttf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: Trafalgar.ttf;
src: url(/fonts/Trafalgar.ttf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: ValutaOpen.ttf;
src: url(/fonts/ValutaOpen.ttf);
}
@font-face {
font-family: Numbers;
src: url(/fonts/Numbers);
}
@font-face {
font-family: ValutaSolid.ttf;
src: url(/fonts/ValutaSolid.ttf);
}
@font-face {
font-family: OdeonHTF-CondensedAlternate;
src: url(/fonts/OdeonHTF-CondensedAlternate.otf);
}
@font-face {
font-family: OdeonHTF-CondensedRegular;
src: url(/fonts/OdeonHTF-CondensedRegular.otf);
}
@font-face {
font-family: RequiemDisplay-HTF-Italic;
src: url(/fonts/RequiemDisplay-HTF-Italic.otf);
}
@font-face {
font-family: RequiemDisplay-HTF-ItalicLigs;
src: url(/fonts/RequiemDisplay-HTF-ItalicLigs.otf);
}
@font-face {
font-family: RequiemDisplay-HTF-Roman;
src: url(/fonts/RequiemDisplay-HTF-Roman.otf);
}
@font-face {
font-family: RequiemDisplay-HTF-SmallCaps;
src: url(/fonts/RequiemDisplay-HTF-SmallCaps.otf);
}
@font-face {
font-family: RequiemFine-HTF-Italic;
src: url(/fonts/RequiemFine-HTF-Italic.otf);
}
@font-face {
font-family: RequiemFine-HTF-ItalicLigs;
src: url(/fonts/RequiemFine-HTF-ItalicLigs.otf);
}
@font-face {
font-family: RequiemFine-HTF-Roman;
src: url(/fonts/RequiemFine-HTF-Roman.otf);
}
@font-face {
font-family: RequiemFine-HTF-SmallCaps;
src: url(/fonts/RequiemFine-HTF-SmallCaps.otf);
}
@font-face {
font-family: RequiemOrnaments-HTF-Display;
src: url(/fonts/RequiemOrnaments-HTF-Display.otf);
}
@font-face {
font-family: RequiemOrnaments-HTF-Text;
src: url(/fonts/RequiemOrnaments-HTF-Text.otf);
}
@font-face {
font-family: RequiemText-HTF-Italic;
src: url(/fonts/RequiemText-HTF-Italic.otf);
}
@font-face {
font-family: RequiemText-HTF-ItalicLigs;
src: url(/fonts/RequiemText-HTF-ItalicLigs.otf);
}
@font-face {
font-family: RequiemText-HTF-Roman;
src: url(/fonts/RequiemText-HTF-Roman.otf);
}
@font-face {
font-family: RequiemText-HTF-SmallCaps;
src: url(/fonts/RequiemText-HTF-SmallCaps.otf);
}
@font-face {
font-family: Saracen-HTF-Black;
src: url(/fonts/Saracen-HTF-Black.otf);
}
@font-face {
font-family: Schneidler-HTF-Titling;
src: url(/fonts/Schneidler-HTF-Titling.otf);
}
@font-face {
font-family: TodaySH-Medium;
src: url(/fonts/TodaySH-Medium.otf);
}
@font-face {
font-family: TodaySH-Regular;
src: url(/fonts/TodaySH-Regular.otf);
}
@font-face {
font-family: TodaySH-Ultra;
src: url(/fonts/TodaySH-Ultra.otf);
}
@font-face {
font-family: Verlag-Black.ttf;
src: url(/fonts/Verlag-Black.ttf);
}
@font-face {
font-family: Verlag-BlackItalic.ttf;
src: url(/fonts/Verlag-BlackItalic.ttf);
}
@font-face {
font-family: Verlag-Bold.ttf;
src: url(/fonts/Verlag-Bold.ttf);
}
@font-face {
font-family: Verlag-BoldItalic.ttf;
src: url(/fonts/Verlag-BoldItalic.ttf);
}
@font-face {
font-family: Verlag-Book.ttf;
src: url(/fonts/Verlag-Book.ttf);
}
@font-face {
font-family: Verlag-BookItalic.ttf;
src: url(/fonts/Verlag-BookItalic.ttf);
}
@font-face {
font-family: Verlag-Light.ttf;
src: url(/fonts/Verlag-Light.ttf);
}
@font-face {
font-family: Verlag-LightItalic.ttf;
src: url(/fonts/Verlag-LightItalic.ttf);
}
@font-face {
font-family: Verlag-XLight.ttf;
src: url(/fonts/Verlag-XLight.ttf);
}
@font-face {
font-family: Verlag-XLightItalic.ttf;
src: url(/fonts/Verlag-XLightItalic.ttf);
}
@font-face {
font-family: VerlagCompressed-Black.ttf;
src: url(/fonts/VerlagCompressed-Black.ttf);
}
@font-face {
font-family: VerlagCompressed-BlackItalic.ttf;
src: url(/fonts/VerlagCompressed-BlackItalic.ttf);
}
@font-face {
font-family: VerlagCompressed-Bold.ttf;
src: url(/fonts/VerlagCompressed-Bold.ttf);
}
@font-face {
font-family: VerlagCompressed-BoldItalic.ttf;
src: url(/fonts/VerlagCompressed-BoldItalic.ttf);
}
@font-face {
font-family: VerlagCompressed-Book.ttf;
src: url(/fonts/VerlagCompressed-Book.ttf);
}
@font-face {
font-family: VerlagCompressed-BookItalic.ttf;
src: url(/fonts/VerlagCompressed-BookItalic.ttf);
}
@font-face {
font-family: VerlagCompressed-Light.ttf;
src: url(/fonts/VerlagCompressed-Light.ttf);
}
@font-face {
font-family: VerlagCompressed-LightItalic.ttf;
src: url(/fonts/VerlagCompressed-LightItalic.ttf);
}
@font-face {
font-family: VerlagCompressed-XLight.ttf;
src: url(/fonts/VerlagCompressed-XLight.ttf);
}
@font-face {
font-family: VerlagCompressed-XLightItalic.ttf;
src: url(/fonts/VerlagCompressed-XLightItalic.ttf);
}
@font-face {
font-family: VerlagCondensed-Black.ttf;
src: url(/fonts/VerlagCondensed-Black.ttf);
}
@font-face {
font-family: VerlagCondensed-BlackItalic.ttf;
src: url(/fonts/VerlagCondensed-BlackItalic.ttf);
}
@font-face {
font-family: VerlagCondensed-Bold.ttf;
src: url(/fonts/VerlagCondensed-Bold.ttf);
}
@font-face {
font-family: VerlagCondensed-BoldItalic.ttf;
src: url(/fonts/VerlagCondensed-BoldItalic.ttf);
}
@font-face {
font-family: VerlagCondensed-Book.ttf;
src: url(/fonts/VerlagCondensed-Book.ttf);
}
@font-face {
font-family: VerlagCondensed-BookItalic.ttf;
src: url(/fonts/VerlagCondensed-BookItalic.ttf);
}
@font-face {
font-family: VerlagCondensed-Light.ttf;
src: url(/fonts/VerlagCondensed-Light.ttf);
}
@font-face {
font-family: VerlagCondensed-LightItalic.ttf;
src: url(/fonts/VerlagCondensed-LightItalic.ttf);
}
@font-face {
font-family: VerlagCondensed-XLight.ttf;
src: url(/fonts/VerlagCondensed-XLight.ttf);
}
@font-face {
font-family: VerlagCondensed-XLightItalic.ttf;
src: url(/fonts/VerlagCondensed-XLightItalic.ttf);
}
@font-face {
font-family: WhitneyHTF-Black;
src: url(/fonts/WhitneyHTF-Black.otf);
}
@font-face {
font-family: WhitneyHTF-BlackCondensed;
src: url(/fonts/WhitneyHTF-BlackCondensed.otf);
}
@font-face {
font-family: WhitneyHTF-BlackItalic;
src: url(/fonts/WhitneyHTF-BlackItalic.otf);
}
@font-face {
font-family: WhitneyHTF-BlackItalicSC;
src: url(/fonts/WhitneyHTF-BlackItalicSC.otf);
}
@font-face {
font-family: WhitneyHTF-BlackSC;
src: url(/fonts/WhitneyHTF-BlackSC.otf);
}
@font-face {
font-family: WhitneyHTF-Bold;
src: url(/fonts/WhitneyHTF-Bold.otf);
}
@font-face {
font-family: WhitneyHTF-BoldCondensed;
src: url(/fonts/WhitneyHTF-BoldCondensed.otf);
}
@font-face {
font-family: WhitneyHTF-BoldItalic;
src: url(/fonts/WhitneyHTF-BoldItalic.otf);
}
@font-face {
font-family: WhitneyHTF-BoldItalicSC;
src: url(/fonts/WhitneyHTF-BoldItalicSC.otf);
}
@font-face {
font-family: WhitneyHTF-BoldSC;
src: url(/fonts/WhitneyHTF-BoldSC.otf);
}
@font-face {
font-family: WhitneyHTF-Book;
src: url(/fonts/WhitneyHTF-Book.otf);
}
@font-face {
font-family: WhitneyHTF-BookCondensed;
src: url(/fonts/WhitneyHTF-BookCondensed.otf);
}
@font-face {
font-family: WhitneyHTF-BookItalic;
src: url(/fonts/WhitneyHTF-BookItalic.otf);
}
@font-face {
font-family: WhitneyHTF-BookItalicSC;
src: url(/fonts/WhitneyHTF-BookItalicSC.otf);
}
@font-face {
font-family: WhitneyHTF-BookSC;
src: url(/fonts/WhitneyHTF-BookSC.otf);
}
@font-face {
font-family: WhitneyHTF-Light;
src: url(/fonts/WhitneyHTF-Light.otf);
}
@font-face {
font-family: WhitneyHTF-LightCondensed;
src: url(/fonts/WhitneyHTF-LightCondensed.otf);
}
@font-face {
font-family: WhitneyHTF-LightItalic;
src: url(/fonts/WhitneyHTF-LightItalic.otf);
}
@font-face {
font-family: WhitneyHTF-LightItalicSC;
src: url(/fonts/WhitneyHTF-LightItalicSC.otf);
}
@font-face {
font-family: WhitneyHTF-LightSC;
src: url(/fonts/WhitneyHTF-LightSC.otf);
}
@font-face {
font-family: WhitneyHTF-Medium;
src: url(/fonts/WhitneyHTF-Medium.otf);
}
@font-face {
font-family: WhitneyHTF-MediumCondensed;
src: url(/fonts/WhitneyHTF-MediumCondensed.otf);
}
@font-face {
font-family: WhitneyHTF-MediumItalic;
src: url(/fonts/WhitneyHTF-MediumItalic.otf);
}
@font-face {
font-family: WhitneyHTF-MediumItalicSC;
src: url(/fonts/WhitneyHTF-MediumItalicSC.otf);
}
@font-face {
font-family: WhitneyHTF-MediumSC;
src: url(/fonts/WhitneyHTF-MediumSC.otf);
}
@font-face {
font-family: WhitneyHTF-SemiBold;
src: url(/fonts/WhitneyHTF-SemiBold.otf);
}
@font-face {
font-family: WhitneyHTF-SemiBoldCondensed;
src: url(/fonts/WhitneyHTF-SemiBoldCondensed.otf);
}
@font-face {
font-family: WhitneyHTF-SemiBoldItalic;
src: url(/fonts/WhitneyHTF-SemiBoldItalic.otf);
}
@font-face {
font-family: WhitneyHTF-SemiBoldItalicSC;
src: url(/fonts/WhitneyHTF-SemiBoldItalicSC.otf);
}
@font-face {
font-family: WhitneyHTF-SemiBoldSC;
src: url(/fonts/WhitneyHTF-SemiBoldSC.otf);
}
@font-face {
font-family: WhitneyIndexBlack-RoundBd;
src: url(/fonts/WhitneyIndexBlack-RoundBd.otf);
}
@font-face {
font-family: WhitneyIndexBlack-RoundLt1;
src: url(/fonts/WhitneyIndexBlack-RoundLt1.otf);
}
@font-face {
font-family: WhitneyIndexBlack-RoundLt2;
src: url(/fonts/WhitneyIndexBlack-RoundLt2.otf);
}
@font-face {
font-family: WhitneyIndexBlack-RoundMd;
src: url(/fonts/WhitneyIndexBlack-RoundMd.otf);
}
@font-face {
font-family: WhitneyIndexBlack-SquareBd;
src: url(/fonts/WhitneyIndexBlack-SquareBd.otf);
}
@font-face {
font-family: WhitneyIndexBlack-SquareLt1;
src: url(/fonts/WhitneyIndexBlack-SquareLt1.otf);
}
@font-face {
font-family: WhitneyIndexBlack-SquareLt2;
src: url(/fonts/WhitneyIndexBlack-SquareLt2.otf);
}
@font-face {
font-family: WhitneyIndexBlack-SquareMd;
src: url(/fonts/WhitneyIndexBlack-SquareMd.otf);
}
@font-face {
font-family: WhitneyIndexWhite-RoundBd;
src: url(/fonts/WhitneyIndexWhite-RoundBd.otf);
}
@font-face {
font-family: WhitneyIndexWhite-RoundLt1;
src: url(/fonts/WhitneyIndexWhite-RoundLt1.otf);
}
@font-face {
font-family: WhitneyIndexWhite-RoundLt2;
src: url(/fonts/WhitneyIndexWhite-RoundLt2.otf);
}
@font-face {
font-family: WhitneyIndexWhite-RoundMd;
src: url(/fonts/WhitneyIndexWhite-RoundMd.otf);
}
@font-face {
font-family: WhitneyIndexWhite-SquareBd;
src: url(/fonts/WhitneyIndexWhite-SquareBd.otf);
}
@font-face {
font-family: WhitneyIndexWhite-SquareLt1;
src: url(/fonts/WhitneyIndexWhite-SquareLt1.otf);
}
@font-face {
font-family: WhitneyIndexWhite-SquareLt2;
src: url(/fonts/WhitneyIndexWhite-SquareLt2.otf);
}
@font-face {
font-family: WhitneyIndexWhite-SquareMd;
src: url(/fonts/WhitneyIndexWhite-SquareMd.otf);
}
@font-face {
font-family: WhitneyNumeric-Black;
src: url(/fonts/WhitneyNumeric-Black.otf);
}
@font-face {
font-family: WhitneyNumeric-BlackItalic;
src: url(/fonts/WhitneyNumeric-BlackItalic.otf);
}
@font-face {
font-family: WhitneyNumeric-Bold;
src: url(/fonts/WhitneyNumeric-Bold.otf);
}
@font-face {
font-family: WhitneyNumeric-BoldItalic;
src: url(/fonts/WhitneyNumeric-BoldItalic.otf);
}
@font-face {
font-family: WhitneyNumeric-Book;
src: url(/fonts/WhitneyNumeric-Book.otf);
}
@font-face {
font-family: WhitneyNumeric-BookItalic;
src: url(/fonts/WhitneyNumeric-BookItalic.otf);
}
@font-face {
font-family: WhitneyNumeric-Light;
src: url(/fonts/WhitneyNumeric-Light.otf);
}
@font-face {
font-family: WhitneyNumeric-LightItalic;
src: url(/fonts/WhitneyNumeric-LightItalic.otf);
}
@font-face {
font-family: WhitneyNumeric-Medium;
src: url(/fonts/WhitneyNumeric-Medium.otf);
}
@font-face {
font-family: WhitneyNumeric-MediumItalic;
src: url(/fonts/WhitneyNumeric-MediumItalic.otf);
}
@font-face {
font-family: WhitneyNumeric-Semibold;
src: url(/fonts/WhitneyNumeric-Semibold.otf);
}
@font-face {
font-family: WhitneyNumeric-SemiboldItalic;
src: url(/fonts/WhitneyNumeric-SemiboldItalic.otf);
}
@font-face {
font-family: WoodtypeAntiqueXXXCond;
src: url(/fonts/WoodtypeAntiqueXXXCond.otf);
}
@font-face {
font-family: WoodtypeGothicExtended;
src: url(/fonts/WoodtypeGothicExtended.otf);
}
@font-face {
font-family: Ziggurat-HTF-Black-Italic;
src: url(/fonts/Ziggurat-HTF-Black-Italic.otf);
}
@font-face {
font-family: Ziggurat-HTF-Black;
src: url(/fonts/Ziggurat-HTF-Black.otf);
}
