<html>
    <head>
        <title>@@SiteTitle@@ &mdash; @@Title@@</title>
        <link rel="stylesheet" type="text/css" href="/css/site.css">
        <link rel="alternate" type="application/rss+xml" title="@@SiteTitle@@" href="/rss" />
        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7613712/682524/css/fonts.css" />
    </head>
	<body class="@@BodyClass@@">
        <div class="container">
            <div class="content">
                <nav>
                    <a href="/">Home</a>
                    <a href="/about" rel="author">About</a>
                    <a href="///twitter.com/TheRobDay">Twitter</a>
                    <a href="/rss">RSS</a>
                </nav>
                <div class="header">
                    <h1 class="siteTitle"><a href="/">Developing Day</a></h1>
                </div>
