<html>
    <head>
        <title>@@SiteTitle@@ &mdash; @@Title@@</title>
        <link rel="stylesheet" type="text/css" href="/css/site.css">
        <link rel="alternate" type="application/rss+xml" title="@@SiteTitle@@" href="/rss" />
    </head>
	<body class="@@BodyClass@@">
        <div class="container">
            <div class="content">
                <div class="header">
                    <h1 class="siteTitle"><a href="/">Developing Day</a></h1>
                    <nav>
                        <a href="http://@@SiteURL@@/">Home</a><span class="dot">•</span>
                        <a href="http://@@SiteURL@@/about" rel="author">About</a><span class="dot">•</span>
                        <a href="http://@@SiteURL@@/contact">Contact</a><span class="dot">•</span>
                        <a href="http://@@SiteURL@@/rss">RSS</a>
                    </nav>
                </div>
